.portfolio-block.projects-cards .card-body {
  text-align: left;
}

.text-muted {
  color: #000000!important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.portfolio-block {
  padding-bottom: 20px;
  padding-top: 60px;
}

@media (min-width:768px) {
  .col-md-4 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

body {
  margin: 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.portfolio-block.block-intro .avatar {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 0px;
  margin-bottom: 30px;
}

.portfolio-block.block-intro .about-me {
  max-width: 100%;
  margin: 0 0;
  text-align: left;
}

@media (min-width: 768px) {
  #descripcion-1 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 1rem;
    text-align: justify;
    margin-left: 0px;
  }
}

@media (min-width: 992px) {
  #descripcion-1 {
    -ms-flex: 0 0 31%;
    flex: 0 0 32%;
    max-width: 32%;
    font-size: 1rem;
    text-align: justify;
    margin-left: 10px;
  }
}

@media (min-width: 992px) {
  #descripcion {
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
    max-width: 32%;
    font-size: 1rem;
    text-align: justify;
    margin-left: 10px;
  }
}

.portfolio-block.block-intro p {
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 0px;
}

@media (min-width:576px) {
  .zoom-on-hover:hover .image {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: .7;
  }
}

@media (min-width: 768px) {
  .img-fluid, .img-thumbnail {
    max-width: 100%;
    height: 250px;
  }
}

@media (min-width: 992px) {
  .img-fluid, .img-thumbnail {
    max-width: 100%;
    height: 250px;
  }
}

.h1, h1 {
  font: normal 50px Cookie, cursive;
}

@media (max-width: 576px) {
  .portfolio-block .heading h2 {
    font-size: 0;
  }
}

@media (min-width: 576px) {
  .btn-group, .btn-group-vertical {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    float: left;
    margin-bottom: 1.3rem;
  }
}

@media (max-width: 575px) {
  .h1, .h2, .h4, .h5, .h6, h1, h2, h4, h5, h6 {
    font-size: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }
}

@media (min-width: 576px) {
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-left: 1.5rem;
  }
}

select.form-control[multiple], select.form-control[size], textarea.form-control {
  height: 150px;
}

.portfolio-block.projects-cards .card img {
  box-shadow: 0 2px 10px rgba(0,0,0,.15);
  height: 200px;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: rgb(40,129,167);
  border-color: rgb(40,129,167);
}

.btn-success {
  color: #fff;
  background-color: rgb(40,129,167);
  border-color: rgb(40,129,167);
}

